@font-face {
  font-family: "iconfont"; /* Project id 2722290 */
  src: url('iconfont.woff2?t=1646104115261') format('woff2'),
       url('iconfont.woff?t=1646104115261') format('woff'),
       url('iconfont.ttf?t=1646104115261') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sheyingshi:before {
  content: "\e61f";
}

.icon-guanyu:before {
  content: "\e608";
}

.icon-mote:before {
  content: "\e601";
}

.icon-icon_close:before {
  content: "\e62c";
}

.icon-xiangji_huaban:before {
  content: "\e633";
}

.icon-shoucang1:before {
  content: "\e627";
}

.icon-pinglun:before {
  content: "\e600";
}

.icon-zhuanfafenxiang:before {
  content: "\e661";
}

.icon-shoucang:before {
  content: "\e612";
}

.icon-wode:before {
  content: "\e66c";
}

.icon-wode1:before {
  content: "\e6f3";
}

.icon-wode2:before {
  content: "\e66e";
}

.icon-wode3:before {
  content: "\e67a";
}

.icon-wode4:before {
  content: "\e699";
}

.icon-faxian:before {
  content: "\e68c";
}

.icon-faxian1:before {
  content: "\e65d";
}

.icon-faxian2:before {
  content: "\e63b";
}

.icon-jiludanzilishijilu:before {
  content: "\e61b";
}

.icon-faxian3:before {
  content: "\e626";
}

.icon-faxianliulan:before {
  content: "\e619";
}

.icon-faxian4:before {
  content: "\e725";
}

.icon-jilu:before {
  content: "\e60a";
}

.icon-jilu1:before {
  content: "\e606";
}

.icon-xianxingyueliang:before {
  content: "\e607";
}

.icon-jilu2:before {
  content: "\e6b8";
}

